<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat Classify</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@106,300..700&display=swap" rel="stylesheet">    
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link href="/styles/main.css" rel="stylesheet" type="text/css">
</head>
<body>
    <section id="header">
      <%- include('partials/navbar'); %>
    </section>
    <section>
        
    </section>
    <script src="/js/bootstrap.js"></script>
</body>
</html>