<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat Classify</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@106,300..700&display=swap" rel="stylesheet">    
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link href="/styles/main.css" rel="stylesheet">
</head>
<body>
    <section id="header">
      <%- include('partials/navbar'); %>
    </section>
    <section>
      <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="/images/french_cat.png" class="d-block mx-lg-auto img-fluid" alt="French Cat" width="300" loading="lazy">
          </div>
          <div class="col-lg-6">
            <p class="display-5 fw-bold lh-1 mb-3">That cat is most likely a</p>
            <h1 class="cat-name">🎉[Cat Name]🎉</h1>
            <a href="/">Click here to upload another image</a>
          </div>
        </div>
      </div>
    </section>

    <script src="/js/bootstrap.js"></script>
</body>
</html>