body {
    background: #e7e1d3;
}

#header {
    background: #d9cda8 !important;
    height: 9vh;
}
.header-element {
    color: #826451;
    font-size: 1.4em;
    font-family: "Fredoka", sans-serif;
    font-weight: 570;
}

.navbar-toggler {
    background-color: #826451;
}

.logo {
    height: 50px;
}

#body {
    height: 91vh;
}

.most-likely {
    font-size: 1.8em;
}

.cat-breed {
    font-size: 3em;
}

.uploaded-img {
    max-width: 100%;
    height: auto;
}

#sadFace {
    height: 15em;
    width: auto;
}

.card {
    height: 20rem;
    width: 30rem;
    background: #d9cda8;
    font-family: "Fredoka", sans-serif;
    font-weight: 550;
}

.card-head-text {
    font-weight: 700;
}

#contact-me-card > * {
    width: 115px;
    height: 115px;
    margin-left: 10px;
    margin-right: 10px;
}